* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 .nav {
display: flex;
 justify-content:
  space-around;
   align-items: center; 
   background-color:
    rgb(155, 41, 41);
     padding: 10px;
margin-bottom: 20px;
}

.nav-logo img {
width: 150px;
}


.nav-links {
display: flex;
gap: 30px;
}

.nav-button button {
    background: none;
    border: none;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
}

/*PORTFOLIO*/

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.port-head {
    text-align: center;
    width: 500px;
}

.port-head h3 {
    font-size: 48px;
    padding: 20px;
}
.port-head span {
    color: tomato;
}

.port-div {
    display: flex;
    gap: 35px;
    margin-top: 40px;
}

.port-div img {
    width: 150px;
    height: 200px;
    border-color: blue;
    border-style: ridge;
    border-width: 2px;
}

.port-div span {
    font-size: 22px;
    background-color: 
    rgb(138, 85, 16);
color: #6d1a1a;
padding: 0 20px;
}













.service-banner {
display: flex;
align-items: center;
justify-content: center;
background-color: 
#6d1a1a;
padding: 20px;
}
.nav-bar {
display: none;
}

@media (max-width:
768px) {
.nav {
    justify-content: space-between;
}

.nav-links {
display: none;
}
.nav-logo img {
width: 100px;
}

.nav-button button {
padding: 5px;
}

.nav-bar {
display: flex;
font-size: 30px;
padding: 10px;
}

}





















